*.meta
*.cache
*.bakert
*.nupkg
*.nupkg
*.p7s

*.meta
*.meta
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/HoloSkyView/v15/.suo
HoloSkyView/.vs/HoloSkyView/v15/.suo
HoloSkyView/.vs/HoloSkyView/v15/Server/sqlite3/db.lock
HoloSkyView/.vs/HoloSkyView/v15/Server/sqlite3/storage.ide
HoloSkyView/.vs/HoloSkyView/v15/Server/sqlite3/storage.ide-shm
HoloSkyView/.vs/HoloSkyView/v15/Server/sqlite3/storage.ide-wal
HoloSkyView/Assets/Coordinateprocessing.vsdx
HoloSkyView/Hololensstarview.csproj
HoloSkyView/Hololensstarview.Editor.csproj
HoloSkyView/HoloSkyView.csproj
HoloSkyView/HoloSkyView.Editor.csproj
HoloSkyView/HoloSkyView.sln
HoloSkyView/Library/assetDatabase3
HoloSkyView/Library/CurrentLayout.dwlt
HoloSkyView/Library/EditorInstance.json
HoloSkyView/Library/metadata/57/577de7a75c9fc5043878c12ea121b12b
HoloSkyView/Library/metadata/57/577de7a75c9fc5043878c12ea121b12b.info
HoloSkyView/Library/metadata/62/62b67b8ffbf5de248b56cf3cbaa413de
HoloSkyView/Library/metadata/62/62b67b8ffbf5de248b56cf3cbaa413de.info
HoloSkyView/Library/metadata/63/6361593ccbbda1844b2b9ff8144f0151
HoloSkyView/Library/metadata/63/6361593ccbbda1844b2b9ff8144f0151.info
HoloSkyView/Library/metadata/66/66bdbcf572706ff4ca3746c62e148e98
HoloSkyView/Library/metadata/66/66bdbcf572706ff4ca3746c62e148e98.info
HoloSkyView/Library/metadata/9a/9af83fedfae3b564bb91d23470e7fd95
HoloSkyView/Library/metadata/9a/9af83fedfae3b564bb91d23470e7fd95.info
HoloSkyView/Library/metadata/b8/b859549a8aa63d94495c70b4a7f9ed28
HoloSkyView/Library/metadata/b8/b859549a8aa63d94495c70b4a7f9ed28.info
HoloSkyView/packages.config
HoloSkyView/Temp/UnityLockfile
HoloSkyView/Temp/UnityTempFile-557a28ea92434194c938ac7a0194a21c
HoloSkyView/Temp/UnityTempFile-a75071334acd3fe47a3d5564baba914a
HoloSkyView/Library/metadata/9a/9af83fedfae3b564bb91d23470e7fd95.info
HoloSkyView/Library/metadata/9a/9af83fedfae3b564bb91d23470e7fd95
HoloSkyView/Library/CurrentLayout.dwlt
HoloSkyView/Library/assetDatabase3
